form
{
    width: 100%;
    height: 400px;
    text-align: center;
    border: solid 1px #0c0c0c;
    padding-bottom: 7px;
    margin: auto;
    background-color: rgba(255, 166, 0, 0.979);
    border-radius: 25px;
    box-shadow: 7px 7px 25px slategray;
}
input[type=baner]
{
    width: 55%;
    padding: 15px 30px;
    font-size: 15px; 
    margin: 10px o;
    border: 1px solid darkgreen;
    border-radius: 1px;
    text-align: left;
    color: rgb(red, green, blue);
    background: blue;
    border-radius: 15px;
}
input[type=button], 
input[type=submit], 
input[type=reset]
{
background-color: rgb(50, 47, 255);
border: none;
color:white;
padding:15px 30px;
font-size: 15px;
min-width: 20%;
text-decoration: none;
margin: 5px 3px;
cursor: pointer;
border-radius: 15px;
box-shadow: 3px 3px 5px rgb(63, 218, 32);
}
input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover
{
    background-color: rgb(76, 137, 228);
}
input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover
{
    background-color: rgb(76, 137, 228);
}
.letra
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}
body
{
    background-color: greenyellow;
}
